.sidePane{
    -fx-background-color: #1c1c19;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.backgroundPane{
    -fx-background-color: #2C3A47;
}

.contentPane{
    -fx-background-color: #2C3A47;
}
.btn1 , .btn2 , .btn3{
    -fx-background-color:#1c1c19 ;
    -fx-text-fill: #dfe6e9;
}
.btn1:hover , .btn3:hover{
    -fx-background-color: #2C3A47;
    -fx-text-fill: #2ecc71;
    -fx-background-radius: 15px 0 0 15px ;
}
.btn2:hover{
    -fx-background-color: #2C3A47;
    -fx-text-fill: #2ecc71;
    -fx-background-radius: 0 15px 15px 0 ;
}
.btn1:pressed, .btn3:pressed {
    -fx-background-color: #2ecc71; /* Change background color on click */
    -fx-text-fill: #2C3A47; /* Change text color on click */
}

.btn2:pressed {
    -fx-background-color: #2ecc71; /* Change background color on click */
    -fx-text-fill: #2C3A47; /* Change text color on click */
}
.capacityPane , .studentUpdatePane, .detailsPane{
    -fx-background-color: #1c1c19;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
.roomBtn{
    -fx-background-color: #2C3A47;
    -fx-border-color: #1abc9c;
    -fx-text-fill: #1abc9c;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
}
.resbtn{
    -fx-background-color: #2C3A47;
    -fx-border-color: yellow;
    -fx-text-fill: yellow;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
}
.current_capacity_pane,.pie_chart_pane{
    -fx-background-radius: 20px;
    -fx-background-color: 	#030303;
}