.background {
    -fx-background-color: #ffff;
    -fx-background-radius: 15;
}
.text_field{
    -fx-background-color:  #dff9fb;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #2d3436;
    -fx-prompt-text-fill:#2d3436;
    -fx-border-color: #636e72;
}
.btn{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: #00a8ff;
}
.btn2{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: #e84118;
}