.background{
    -fx-background-color: #2C3A47;
}
.background{
    -fx-background-color: #2C3A47;
}
.txt1{
    -fx-background-color: #2d3436;
    -fx-background-radius: 10px;
    -fx-font-family: "DejaVu Serif";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}
.gender{
    -fx-background-color: #2d3436;
    -fx-background-radius: 10px;
    -fx-font-family: "DejaVu Serif";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}.close_btn{
     -fx-background-color: #2C3A47;
     -fx-text-fill: #000000;
     -fx-border-color: #000000;
     -fx-border-radius: 10px;
 }
.proceed_btn{
    -fx-background-color:#2ecc71;
    -fx-border-radius: 10px;
    -fx-text-fill: #d2dae2;
    -fx-background-radius: 10px;
}
