.proceed_btn{
    -fx-background-color:#1abc9c;
    -fx-border-radius: 10px;
    -fx-text-fill: #d2dae2;
    -fx-background-radius: 10px;
}
.gender{
    -fx-background-color: #2d3436;
    -fx-background-radius: 10px;
    -fx-font-family: "DejaVu Serif";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}
.background{
    -fx-background-color: #2C3A47;
}